{% extends "base.html" %}
{% load static %}

{% block title %}
RateFlix
{% endblock %}


{% block content %}

<div class ="h-auto  flex flex-col ">

    
<!-- Hero Section -->

<section class=" flex flex-col  ">
<div class = " ">
   
        <img src = "https://i.imgur.com/s23D769.png" class=" h-screen w-screen -mt-20" />
    

</div>
</section>


<!-- Featured Movies Section -->


<section class="mt-8 font-semibold ">

    <div class="text-black text-4xl font-semibold mb-4 mt-0 bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900  mx-2 p-2 rounded-xl w-fit dark:bg-gradient-to-r dark:from-fuchsia-600 dark:to-pink-600 text-transparent bg-clip-text">Featured Movies
    </div>

    <div class="flex justify-start h-auto w-full overflow-x-scroll overflow-y-hidden  scroll ">

        {% for movie in latest_movies %}

        <a class=" mx-4 w-[27%] hover:bg-slate-400 flex flex-col p-4 rounded-lg h-auto cursor-pointer hover:scale-[1.03] shrink-0 overflow-auto mb-6  dark:hover:bg-slate-700  dark:text-neutral-200" href="movies/{{movie.slug}}">
        
            <img src = "{{movie.image}}" class="flex-1 mb-4"/>
            <h1>{{movie.name}}</h1>
            <p>{{movie.year}}</p>
            <p class="whitespace-nowrap overflow-hidden">{{movie.cast}}</p>
        </a>

        {% endfor %}

    </div>

    <a class="float-right p-2 mx-4 underline hover:cursor-pointer hover:text-blue-600" href="{% url 'movies-page' %}">View More</a>

</section>

<!-- Upcoming Movies Section -->

<section class="mt-8 font-semibold">

    <div class="text-black text-4xl font-semibold mt-0  w-fit mx-2 p-2 rounded-xl mb-4 bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 dark:bg-gradient-to-r dark:from-fuchsia-600 dark:to-pink-600 text-transparent bg-clip-text">Upcoming Movies</div>

    <div class="flex flex-row-reverse justify-start h-auto overflow-x-scroll overflow-y-hidden w-full  scroll">

        {% for item in upcoming_list %}

        <a class=" mx-4 w-[27%] hover:bg-slate-400 flex flex-col p-4 rounded-lg h-auto cursor-pointer hover:scale-[1.03] shrink-0 overflow-auto mb-6  dark:hover:bg-slate-700  dark:text-neutral-200" href="movies/{{item.slug}}">
            <img src = "{{item.img}}" class="flex-1  mb-4 "/>
            <h1>{{item.title}}</h1>
            <p>Release Date- {{item.date}}</p>
        </a>

        {% endfor %}

    </div>

    <!-- <a class="float-right p-2 mx-4 underline hover:cursor-pointer hover:text-blue-600" href="{% url 'tv-page' %}">View More</a> -->
</section>

<!-- Trending TV Section -->

<section class="mt-8 font-semibold">

    <div class="text-black text-4xl font-semibold mt-0  w-fit mx-2 p-2 rounded-xl mb-4 bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 dark:bg-gradient-to-r dark:from-fuchsia-600 dark:to-pink-600 text-transparent bg-clip-text">Trending TV</div>

    <div class="flex flex-row-reverse justify-start h-auto overflow-x-scroll overflow-y-hidden w-full  scroll">

        {% for item in trending_tv %}

        <a class=" mx-4 w-[27%] hover:bg-slate-400 flex flex-col p-4 rounded-lg h-auto cursor-pointer hover:scale-[1.03] shrink-0 overflow-auto mb-6  dark:hover:bg-slate-700  dark:text-neutral-200" href = "tv/{{item.slug}}">
            {% comment %} href="tv/{{item.slug}} {% endcomment %}
            <img src = "{{item.img}}" class="flex-1  mb-4 "/>
            <h1>{{item.title}}</h1>
            <p>Release Date- {{item.date}}</p>
        </a>

        {% endfor %}

    </div>

    <!-- <a class="float-right p-2 mx-4 underline hover:cursor-pointer hover:text-blue-600" href="{% url 'tv-page' %}">View More</a> -->
</section>


<!--  Movies by Genre Section (could go tits up) -->

<section>

    

    {% for key, values in movies_by_genre.items %}

        <section class="mt-8 font-semibold">

            <div class="text-black text-4xl font-semibold mt-0  w-fit mx-2 p-2 rounded-xl mb-4 bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 dark:bg-gradient-to-r dark:from-fuchsia-600 dark:to-pink-600 text-transparent bg-clip-text">{{key}} Movies</div>

            <div class="flex flex-row-reverse justify-start h-auto overflow-x-scroll overflow-y-hidden w-full  scroll">

                {% for item in values %}

                <a class=" mx-4 w-[27%] hover:bg-slate-400 flex flex-col p-4 rounded-lg h-auto cursor-pointer hover:scale-[1.03] shrink-0 overflow-auto mb-6  dark:hover:bg-slate-700  dark:text-neutral-200" href="movies/{{item.slug}}">
                    <img src = "{{item.img}}" class="flex-1  mb-4 "/>
                    <h1>{{item.title}}</h1>
                    <p>Release Date- {{item.date}}</p>
                </a>

                {% endfor %}

            </div>

            <!-- <a class="float-right p-2 mx-4 underline hover:cursor-pointer hover:text-blue-600" href="{% url 'tv-page' %}">View More</a> -->
        </section>

    {% endfor %}

</section>


<!-- Featured TV Shows Section -->


<section class="mt-8 font-semibold ">

    <div class="text-black text-4xl font-semibold mb-4 mt-0 bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900  mx-2 p-2 rounded-xl w-fit dark:bg-gradient-to-r dark:from-fuchsia-600 dark:to-pink-600 text-transparent bg-clip-text">Featured TV Shows
    </div>

    <div class="flex justify-start h-auto w-full overflow-x-scroll overflow-y-hidden  scroll ">

        {% for tv in latest_tv %}

        <a class=" mx-4 w-[27%] hover:bg-slate-400 flex flex-col p-4 rounded-lg h-auto cursor-pointer hover:scale-[1.03] shrink-0 overflow-auto mb-6  dark:hover:bg-slate-700  dark:text-neutral-200" href="tv/{{tv.slug}}">
        
            <img src = "{{tv.image}}" class="flex-1 mb-4"/>
            <h1>{{tv.name}}</h1>
            <p>{{tv.year}}</p>
            <p class="whitespace-nowrap overflow-hidden">{{tv.cast}}</p>
        </a>

        {% endfor %}

    </div>

    <a class="float-right p-2 mx-4 underline hover:cursor-pointer hover:text-blue-600" href="{% url 'tv-page' %}">View More</a>

</section>



<section class="mt-8 font-semibold">
    <div class="text-black text-4xl font-semibold mb-4 mt-0 bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900  mx-2 p-2 rounded-xl w-fit dark:bg-gradient-to-r dark:from-fuchsia-600 dark:to-pink-600 text-transparent bg-clip-text">Top Rated</div>
    <div class="flex justify-start h-auto w-full overflow-x-scroll overflow-y-hidden  scroll">


        {% for movie in highest_movies %}

        <a class=" mx-4 w-[27%] hover:bg-slate-400 flex flex-col p-4 rounded-lg h-auto cursor-pointer overflow-auto hover:scale-[1.03] shrink-0 mb-6 dark:hover:bg-slate-700  dark:text-neutral-200" href="movies/{{movie.slug}}">
        
            <img src = "{{movie.image}}" class="flex-1 mb-4"/>
            <h1>{{movie.name}}</h1>
            <p>{{movie.year}}</p>
            <p class="whitespace-nowrap overflow-hidden">{{movie.cast}}</p>
        
        </a>
        {% endfor %}

        {% for tv in highest_tv %}

        <a class=" w-[27%] mx-4 hover:bg-slate-400 flex flex-col p-4 m-1 rounded-lg h-auto cursor-pointer overflow-auto hover:scale-[1.03] shrink-0   dark:hover:bg-slate-700  dark:text-neutral-200 mb-6" href="tv/{{tv.slug}}">
            <img src = "{{tv.image.url}}" class="flex-1 flex-shrink-0 mb-4"/>
            <h1>{{tv.name}}</h1>
            <p>{{tv.year}}</p>
            <p class="whitespace-nowrap overflow-hidden">{{tv.cast}}</p>

        </a>

        {% endfor %}


    </div>

    <a class="float-right p-2 mx-4 underline hover:cursor-pointer hover:text-blue-600" href="{% url 'movies-page' %}">View More</a>
</section>

</div>




{% endblock %}
