{% extends "base.html" %}
{% load static %}

{% block title %}
RateFlix | All Movies
{% endblock %}


{% block content %}

<div class="min-h-screen flex flex-col">

    {% for movie in all_movies %}

    <a class="bg-slate-100 w-screen ml-0 hover:bg-slate-400  p-4 rounded-lg my-4 flex justify-between dark:bg-slate-600 dark:hover:bg-slate-700  dark:text-neutral-200" href = "{{movie.slug}}">
        <div class="flex">
            <img src ="{{movie.image.url}}" class="h-44"/>
            <div class="px-5 mx-10" >
                <p class="text-3xl font-serif font-semibold flex" >{{movie.name}}</p>
                <p>{{movie.year}}</p>

                <p class="mt-4"> {{movie.synopsis}}</p>
            </div>
        </div>

        <div class="flex flex-col">

            <div class="flex  mr-12 mb-2 p-4 bg-cyan-400 rounded-xl hover:bg-cyan-700 min-w-fit whitespace-nowrap">
                <p class="pt-2 text-white font-serif">  WATCH NOW </p>
            </div>

        </div>
    </a>

    {% endfor %} 


    


</div>

{% endblock %}