{% extends "base.html" %}
{% load static %}

{% block title %}
RateFlix | Search
{% endblock %}


{% block content %}

<div class="min-h-screen flex flex-col">

    {% if not has_content %}

    <p class="dark:text-white"> Could not find any matches for the searched query</p>


    {% else %}
    
        {% for item in results %}

            {% if item.media_type == "movie" and item.original_language == "en"%}

                <a class="bg-slate-100 w-screen ml-0 hover:bg-slate-400  p-4 rounded-lg my-4 flex justify-between dark:bg-slate-600 dark:hover:bg-slate-700  dark:text-neutral-200"
                href = "{% url "movies-details-post" item.slug %}"
                >
                    <div class="flex">
                        <img src ="https://image.tmdb.org/t/p/w500{{item.poster_path}}" class="h-44"/>
                        <div class="px-5 mx-10" >
                            <p class="text-3xl font-serif font-semibold flex" >{{item.title}}</p>
                            <p>{{item.release_date}}</p>
            
                            <p class="mt-4"> {{item.overview}}</p>
                        </div>
                    </div>
            
                    <div class="flex flex-col">
            
                        <div class="flex  mr-12 mb-2 p-4 bg-cyan-400 rounded-xl hover:bg-cyan-700 min-w-fit whitespace-nowrap">
                            <p class="pt-2 text-white font-serif">  WATCH NOW </p>
                        </div>
            
                    </div>
                </a>


            {% elif item.media_type == "tv" and item.original_language == "en"%}

                <a class="bg-slate-100 w-screen ml-0 hover:bg-slate-400  p-4 rounded-lg my-4 flex justify-between dark:bg-slate-600 dark:hover:bg-slate-700  dark:text-neutral-200"
                href = "{% url "tv-details-post" item.slug %}"
                >
                    <div class="flex">
                        <img src ="https://image.tmdb.org/t/p/w500{{item.poster_path}}" class="h-44"/>
                        <div class="px-5 mx-10" >
                            <p class="text-3xl font-serif font-semibold flex" >{{item.name}}</p>
                            <p>{{item.first_air_date}}</p>

                            <p class="mt-4"> {{item.overview}}</p>
                        </div>
                    </div>
            
                    <div class="flex flex-col">
            
                        <div class="flex  mr-12 mb-2 p-4 bg-cyan-400 rounded-xl hover:bg-cyan-700 min-w-fit whitespace-nowrap">
                            <p class="pt-2 text-white font-serif">  WATCH NOW </p>
                        </div>
            
                    </div>
                </a> 

            {% endif %} 

    {% endfor %} 




{%endif%}


    


</div>



{% endblock %}