{% extends "base.html" %}
{% load static %}

{% block title %}
RateFlix | {{content.name}}
{% endblock %}

{% block content %}

<div class="min-h-screen flex flex-col dark:bg-slate-900 bg-neutral-200  dark:text-white">

<iframe  src='https://www.youtube.com/embed/{{videokey}}?autoplay=1&mute=1'  frameborder="0" allow="accelerometer; autoplay;"  class="w-full h-[500px]" allowfullscreen ></iframe>

<div class="flex justify-between m-4 flex-row gap-6">
    {% comment %} <div class=" p-3 flex "> {% endcomment %}
        <div class=" flex flex-col justify-between w-[60%]">

            <div>
                <div class="text-5xl font-serif font-bold py-1 mt-5 ">{{content.name}}</div>
                <div class="text-xl font-sans font-bold py-1  mb-12">{{content.year}}</div>
            </div>
            <div class="font-serif font-bold py-3  mb-8">{{content.synopsis}}</div>

            <form action="{% url "watchlist" %}" method="POST">
                {% csrf_token %}

                <input type="hidden" value="{{content.slug}}" name = "content_slug">
                <button class="dark:bg-inherit bg-cyan-400 mt-2 border p-2 rounded-lg font-poppins hover:bg-gradient-to-bl from-slate-900 via-purple-900 to-slate-900">
                    {% if not saved %} ADD TO WATCHLIST {% else %} Remove from Watchlist {% endif %}
                </button>
            </form>

        </div>
    {% comment %} </div> {% endcomment %}

    <div class=" flex w-[30%]">
        <img src="{{content.image}}" alt="cover image" class="h-full w-full object-contain">
    </div>

    
</div>
<br>

<section class="mt-8 font-semibold ">
    <div class="text-black text-4xl font-semibold mb-4 mt-0 bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900  mx-2 p-2 rounded-xl w-fit dark:bg-gradient-to-r dark:from-fuchsia-600 dark:to-pink-600 text-transparent bg-clip-text">Featured Cast</div>
    <div class="flex justify-start h-auto w-full overflow-x-scroll overflow-y-hidden gap-2 scroll ">


        {% for cast in castlist %}

        <div class=" mx-4 w-[22%] hover:bg-slate-400 flex flex-col p-1 rounded-lg h-auto cursor-pointer hover:scale-[1.03] shrink-0 overflow-auto mb-6  dark:hover:bg-slate-700  dark:text-neutral-200" >
        
            <img src = "{{cast.img}}" class="flex-1 mb-4"/>
            <h1 class="text-2xl">{{cast.name}}</h1>
            <p class="text-slate-400">{{cast.character}}</p>
        
        </div>
    

        {% endfor %}
    </div>

    <a class="float-right p-2 mx-4 underline hover:cursor-pointer hover:text-blue-600" href="{% url 'movies-page' %}">View More</a>
</section>

<hr>

<div class="m-4 p-3 text-3xl font-mono text-center font-semibold underline underline-offset-2 "> The Verdict </div>

<div class="py-4  text-center m-8 text-5xl font-semibold  dark:text-white">
    {{content.heading}}
</div>

<div class="py-4 px-8 text-justify whitespace-pre-wrap m-8 bg-slate-500 rounded-3xl">
    {{content.review}}
</div>
<hr>

<ul class="text-white font-poppins  bg-slate-900 flex-col m-2 rounded-xl p-4 ">

    {% if isComment %}
        {% for comment in comments %}

        <li class="m-2">
        <h3 class="capitalize text-lg font-semibold mb-2">{{comment.user_name}}</h3>
        <h3 class="font-poppins text-zinc-400 text-justify whitespace-pre-wrap">{{comment.text}}</h3>
        </li>


        <hr class="last-of-type:hidden">

        {% endfor %}
    {% else %}
        <div class="text-center  items-center">Start a conversation below!!</div>
    {% endif %}
</ul>



<div class="py-4 px-8 m-2 bg-slate-800 rounded-3xl">
    
    <div class="text-white font-poppins text-center font-semibold">What do you think ? Comment Below!!</div>
    <form action=" 
    {% if isMovie %}
        {% url 'movies-details-post' content.slug%}
    {% else %} 
        {% url 'tv-details-post' content.slug%} 
    {% endif %}" , method = "POST">

        {% csrf_token %}
    {% for form_field in form %}
        
        <div class="font-poppins rounded-lg mb-4">

                <span class = "">{{form_field.label_tag}}</span>
                <span class="text-black form-input bg-slate-800 border-none  w-max h-[20px]"> {{form_field}} </span>
                <span>{{form_field.errors}}</span>

        </div>
    {% endfor %}

    <button class="bg-red-600 p-4 mt-3 rounded-lg font-poppins">Save Comment</button>

    </form>

</div>

</div>


{% comment %} Users also liked {% endcomment %}


<section class="my-8 font-semibold ">
    <div class="text-black text-4xl font-semibold mb-4 mt-0 bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900  mx-2 p-2 rounded-xl w-fit dark:bg-gradient-to-r dark:from-fuchsia-600 dark:to-pink-600 text-transparent bg-clip-text">Users also liked</div>
    <div class="flex justify-start h-auto w-full overflow-x-scroll overflow-y-hidden gap-2 scroll ">


        {% for movie in recommended %}

        <a class=" mx-4 w-[22%] hover:bg-slate-400 flex flex-col p-1 rounded-lg h-auto cursor-pointer hover:scale-[1.03] shrink-0 overflow-auto mb-6  dark:hover:bg-slate-700  dark:text-neutral-200" href={{movie.slug}}>
        
            <img src = "https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="flex-1 mb-4"/>
            <h1 class="text-2xl">{{movie.title}}</h1>
            <p class="text-slate-400">{{movie.release_date}}</p>
        
        </a>
    

        {% endfor %}
    </div>

</section>


</div>

{% endblock %}